p, div, body {
  box-sizing:border-box;
  margin: 0;
}

body {
  font-family: tahoma;
  background-color: #111;
  color: #ddd;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 20px;
}

.title {
  font-size: 36px;
  letter-spacing: 2px;
  justify-self: flex-start;
  color: #fff;
  margin: 0;
}

.subtitle {
  margin: 0;
  padding: 0;
  color: #777;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.display {
  margin: 20px;
  max-width: 800px;
  min-height: 100px;
  width: 100%;
  max-height: 150px;
  background-color: #222;
  padding: 15px 20px;
  border-radius: 25px;
  overflow: hidden;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
  color: #777;
  position: relative;
  top: 0;
}

.word {
  padding: 20px 5px;
  font-size: 30px;
  letter-spacing: 1.5px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  max-width: 800px; 
  display: flex;
  gap: 15px;
}

.input {
  padding: 10px;
  font-size: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  border: none;
  flex-grow: 6;
  min-width: 40px;
}

.reset-button {
  border: none;
  background-color: rgb(14, 153, 153);
  padding: 13px;
  border-radius: 8px;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.timer {
  color: #fff;
  font-size: 40px;
  align-self: center;
  min-width: 60px;
  text-align: center;
  flex-grow: 1;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  flex-grow: 1;
}

.quantity-container p {
  font-size: 20px;
  color: #aaa;
}

.quantity-input {
  color: #eee;
  background-color: #222;
  border: none;
  width:60px;
  text-align: center;
  padding: 3px 0;
  font-size: 23px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.score-bg {
  position: absolute;
  background-color: #000b;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  display: none;
  color: #fff;
  z-index: 10;
}

.score-container {
  width: 275px;
  background-color: #222;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 15px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

.score-title {
  margin: 0;
  align-self: center;
  color: rgb(241, 200, 148);
  font-size: 30px;
}

.wpm {
  align-self: center;
  font-size: 40px;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
}

.score-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 20px;
}

.close-button {
  font-size: 20px;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.red-color {
  color: rgb(192, 51, 51);
}

.green-color {
  color: rgb(69, 194, 69);
}

.js-actual-word {
  color: #fff;
  background-color: rgb(81, 104, 112);
}

.bgc-red {
  background-color: rgb(143, 23, 23);
}